CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.prettierrc
/home/pi/MilanoWaterProject/build/
_deps
ESPClients/ESP8266ClientFlow/archive/ESP8266ClientFlowOld.ino
